<section>
  <h2 class="text-[24px] font-light text-[#FDFAD6] mb-4 text-center">
    Descripción
  </h2>
  <p class="font-extralight text-[#FDFAD6] text-center">
    En Milavik Solutions, desarrollamos software a la medida y brindamos
    soluciones IT adaptadas a las necesidades específicas de tu empresa. Nuestro
    enfoque está orientado a optimizar procesos, mejorar la experiencia del
    cliente y facilitar la gestión operativa a través de herramientas
    tecnológicas robustas y escalables.
  </p>
</section>
