<div class="relative">
  <div
    class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden z-1 text-gray-50 dark:text-slate-800"
  >
    <svg
      class="w-full h-auto scale-[2.0] origin-top"
      viewBox="0 0 2880 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="#061C29"></path></svg
    >
  </div>
</div>
<section class="py-6 bg-[#061C29] dark:bg-slate-800">
  <div class="container mx-auto">
    <div class="grid md:grid-cols-2 grid-cols-2 justify-items-center">
      <div>
        <img
          src="/images/ranalogo.png"
          class="w-auto"
          alt="Logo Raña"
        />
      </div>
      <div>
        <img
          src="/images/jplogo.png"
          class="w-auto"
          alt="Logo JP"
        />
      </div>
    </div>
  </div>
</section>
