<footer class="bg-gray-900 text-white py-10">
  <div class="container mx-auto px-5">
    <!-- Grid for Footer Content -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- About Section -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Milavik Solutions</h3>
        <p class="text-gray-400 text-sm">
          Soluciones tecnológicas a la medida para optimizar tus procesos y
          mejorar la experiencia de tus clientes.
        </p>
      </div>

      <!-- Quick Links -->
      <div>
        <h3 class="text-lg font-semibold mb-4">Enlaces Rápidos</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="/milavik-landing-page/#about"
              class="text-gray-400 hover:text-white">Sobre Nosotros</a
            >
          </li>
          <li>
            <a
              href="/milavik-landing-page/#services"
              class="text-gray-400 hover:text-white">Servicios</a
            >
          </li>
          <li>
            <a
              href="/milavik-landing-page/#projects"
              class="text-gray-400 hover:text-white">Proyectos</a
            >
          </li>
          <li>
            <a
              href="/milavik-landing-page/#contact"
              class="text-gray-400 hover:text-white">Contacto</a
            >
          </li>
        </ul>
      </div>

      <!-- Contacto -->
      <div>
        <h3 class="text-lg font-semibold mb-4">Contacto</h3>
        <p>
          <a
            href="mailto:ulisesjaramillo@milaviksolutions.com"
            class="text-gray-400 hover:text-white"
            >ulisesjaramillo@milaviksolutions.com</a
          >
        </p>
      </div>

      <!-- Social Media Links -->
      <div>
        <h3 class="text-lg font-semibold mb-4">Síguenos</h3>
        <div class="flex space-x-4">
          <a
            href="https://www.linkedin.com/company/milavik-solutions"
            class="text-gray-400 hover:text-white"
            aria-label="LinkedIn"
          >
            <svg
              class="w-6 h-6 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              ><path
                d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-9h3v9zm-1.5-10.271c-.966 0-1.75-.785-1.75-1.75s.784-1.75 1.75-1.75 1.75.785 1.75 1.75-.784 1.75-1.75 1.75zm13.5 10.271h-3v-4.5c0-1.107-.896-2-2-2s-2 .893-2 2v4.5h-3v-9h3v1.391c.679-.839 1.657-1.391 2.709-1.391 2.005 0 3.291 1.547 3.291 3.66v5.34z"
              ></path></svg
            >
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright Section -->
    <div
      class="mt-10 border-t border-gray-700 pt-6 text-center text-gray-400 text-sm"
    >
      &copy; 2024 Milavik Solutions. Todos los derechos reservados.
    </div>
  </div>
</footer>
