<header class="bg-[#529B5F]">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-4"
    aria-label="Global"
  >
    <div class="flex items-center">
      <a href="/milavik-landing-page/#" class="-m-1.5 p-1.5 flex items-center">
        <img
          class="h-8 w-auto"
          src="/images/logo.png"
          alt="Logo Milavik"
        />
        <span class="text-[#061C29] font-bold text-4xl">MILAVIK</span>
      </a>
    </div>
  </nav>
</header>
