---
import Card from "../components/Card.astro"; // Ajusta la ruta según tu estructura de carpetas
---

<section class="flex justify-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <Card
      title="Webberricht"
      description="Sistema de notificación por SMS para la gestión de turnos, implementado en Clínica Raña."
      image="/images/smsmasivo.png"
      images={[
        "/images/nodejs.svg",
        "/images/typescript.svg",
        "/images/react.svg",
      ]}
    />
    <!--
    <Card
      title="Web Resultados"
      description="Portal para pacientes que facilita el acceso a resultados médicos e historial en Clínica Raña."
      image="/images/webresultados.png"
      images={[
        "/images/nodejs.svg",
        "/images/typescript.svg",
        "/images/react.svg",
      ]}
    />
-->
    <Card
      title="Monitoreo de Temperaturas"
      description="Sistema de monitoreo de heladeras y freezers en tiempo real, detectando anomalías en Clínica Raña."
      image="/images/temperatura.png"
      images={[
        "/images/nodejs.svg",
        "/images/typescript.svg",
        "/images/react.svg",
        "/images/sql.svg",
      ]}
    />

    <Card
      title="App Linage"
      description="Aplicación Flutter para el registro digital de órdenes médicas en Clínica Raña."
      image="/images/Linkage.png"
      images={[
        "/images/dart.svg",
        "/images/sqlite.svg",
        "/images/flutter2.svg",
      ]}
    />
    <Card
      title="FieldSense"
      image="/images/telemetria.png"
      description="Registro de Datos de Máquinas de Campo: Sistema de monitoreo remoto para maquinaria en locaciones petroleras, desarrollado con JP Engineering and Analytics."
      images={[
        "/images/nodejs.svg",
        "/images/typescript.svg",
        "/images/react.svg",
        "/images/sql.svg",
        "/images/grafana.svg",
      ]}
    />
    <Card
      title="LandBot"
      image="/images/bot1.png"
      description="Bot de WhatsApp con Landbot: Implementación de bots automatizados para atención al cliente en Clínica Raña."
      images={["/images/landbot.svg"]}
    />
    <!-- Agrega más tarjetas según sea necesario -->
  </div>
</section>
